<!-- Header section -->
<%= render 'layouts/header'%>
<!-- Header section end -->

<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="../assets/page-info-bg/1.jpg">
    <h2>The Brand</h2>
</section>
<!-- Page info section end -->


<!-- About Intro section -->
<section class="about-intor-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-lg-1 order-2">
                <div class="about-text">
                    <h2>Fashions fade, style is eternal</h2>
                    <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet effic-tur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque nisi aliquam anunc feugiat mattis quam, ut luctus enim ultrices at. Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
                </div>
            </div>
            <div class="col-lg-5 order-lg-2 order-1">
                <img src="../assets/logo-big.png" class="about-logo" alt="">
            </div>
        </div>
    </div>
</section>
<!-- About Intro section end -->


<!-- Team section end -->
<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="team-member">
                    <a href="" class="member-pic">
                        <img src="../assets/team/1.jpg" alt="">
                    </a>
                    <h3>Maria Smith</h3>
                    <span>Fashion Editor</span>
                    <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <a href="" class="member-pic">
                        <img src="../assets/team/2.jpg" alt="">
                    </a>
                    <h3>Jenny Williams</h3>
                    <span>Brand Ambasador</span>
                    <p>Facilisis facilisis consequat. Curabitur fringilla pel-lentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque ollicitudin </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <a href="" class="member-pic">
                        <img src="../assets/team/3.jpg" alt="">
                    </a>
                    <h3>Stan Smith</h3>
                    <span>Public Relations</span>
                    <p>Proin euismod cilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, augue diam</p>
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <a href="" class="site-btn">Read More</a>
        </div>
    </div>
</section>
<!-- Team section end -->


<!-- Steps section -->
<section class="steps-section set-bg" data-setbg="../assets/steps-bg.jpg">
    <div class="container">
        <img src="../assets/steps-line.png" class="step-line" alt="">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="step">
                    <h2>1</h2>
                    <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitu.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="step">
                    <h2>2</h2>
                    <p>Facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="step">
                    <h2>3</h2>
                    <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitu.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="step">
                    <h2>4</h2>
                    <p>Facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel.</p>
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <a href="" class="site-btn sb-white">Discover the collection</a>
        </div>
    </div>
</section>
<!-- Steps section end -->

<%= render "layouts/footer"%>
