<!-- Header section -->
<%= render 'layouts/header'%>
<!-- Header section end -->
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="../assets/page-info-bg/3.jpg">
<h2>Portfolio</h2>
</section>
<!-- Page info section end -->


<!-- Portfolio section -->
<div class="portfolio-page-section">
<div class="container">
    <ul class="portfolio-filter">
        <li class="filter all active" data-filter="*">All</li>
    </ul>    
</div>
<div class="portfolio-gallery">
    <div class="portfolio-item set-bg" data-setbg="../assets/works/1.jpg">
        <a href="../assets/works/1.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item --disable">
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/2.jpg">
        <a href="../assets/works/2.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item --big set-bg" data-setbg="../assets/works/6.jpg">
        <a href="../assets/works/6.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/3.jpg">
        <a href="../assets/works/3.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/5.jpg">
        <a href="../assets/works/5.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/4.jpg">
        <a href="../assets/works/4.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/7.jpg">
        <a href="../assets/works/7.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/8.jpg">
        <a href="../assets/works/8.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/9.jpg">
        <a href="../assets/works/9.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/10.jpg">
        <a href="../assets/works/10.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg" data-setbg="../assets/works/11.jpg">
        <a href="../assets/works/11.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item --big --wide set-bg fw19" data-setbg="../assets/works/12.jpg">
        <a href="../assets/works/12.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg fw19" data-setbg="../assets/works/13.jpg">
        <a href="../assets/works/13.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg fw19" data-setbg="../assets/works/14.jpg">
        <a href="../assets/works/14.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg fw19" data-setbg="../assets/works/15.jpg">
        <a href="../assets/works/15.jpg" class="portfolio-view">loadmore</a>
    </div>
    <div class="portfolio-item set-bg fw19" data-setbg="../assets/works/16.jpg">
        <a href="../assets/works/16.jpg" class="portfolio-view">loadmore</a>
    </div>
</div>
</div>
<!-- Portfolio section end -->
<%= render "layouts/footer"%>
