
<!-- Newslatter section -->
<section class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-white">
                <h3>Our Newsletter</h3>
            </div>
            <div class="col-lg-9">
                <form class="newsletter-form">
                    <input type="text" placeholder="Your E-mail">
                    <button class="site-btn sb-white">subscribe</button>
                </form> 
            </div>
        </div>
    </div>
</section>
<!-- Newslatter section end -->


<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 order-md-1 order-2">
                <img src="../assets/logo-dark.png" alt="" class="footer-logo">
                <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 order-md-2 order-1">
                <ul class="footer-contact-list">
                    <li><span>Address:</span>Main Str, no 23, New York</li>
                    <li><span>Phone:</span>+546 990221 123</li>
                    <li><span>Mail:</span>model@contact.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->
