<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="sp-line"></div>

<header class="header-section">
    <div class="container">
        <a href="/" class="site-logo main-menu-left site-menu-style">
            <img src="../assets/logo.png" alt="">
        </a>
        <ul class="site-menu-style">                        
            <li><%= link_to "About the Brand", static_about_path%></li>
            <li><%= link_to "Portfolio", static_portfolio_path%></li>
            <li><%= link_to "Contact", static_contact_path%></li>
        </ul>
    </div>
    <div class="search-switch">
        <img src="../assets/search-icon.png" alt="">
    </div>
</header>


<!-- Search model -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
